## Cluster Operations
clusterSystem:
  enabled: false

ingress:
  enabled: false

certManager:
  enabled: false

externalDNS:
  enabled: false

## CI/CD
spinnaker:
  enabled: false

concourse:
  enabled: false

## Artifact Storage

minio:
  enabled: true

harbor:
  enabled: false

grafana:
  enabled: true

prometheus:
  enabled: true

loki:
  enabled: false

promtail:
  enabled: false

kubeapps:
  enabled: false
